<div class="container">
  <h1 class="page-header">ivy-videojs</h1>
  <p class="lead">A simple <a href="http://emberjs.com/">Ember</a> component for the <a href="http://videojs.com/">video.js</a> player.</p>

  {{outlet}}

  <hr>
  <p>View source on <a href="https://github.com/IvyApp/ivy-videojs">GitHub</a>.</p>
</div>
